@using EducationCenterCRM.DAL.Entities;
@using EducationCenterCRM.Services.BLL
@inject TeacherService teacherService
@model Group

<div class="container">
    <div class="row">
        <h1>Group info:</h1>
        <form id="GroupInfoForm">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Id)</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="@nameof(@Model.Id)" aria-describedby="basic-addon1" value="@Model.Id" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Title)</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="@nameof(@Model.Title)" aria-describedby="basic-addon1" value="@Model.Title">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.StartDate)</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="@nameof(@Model.StartDate)" aria-describedby="basic-addon1" value="@Model.StartDate.ToString("d")">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="SelectStatys">Status</label>
                <select class="form-select" id="SelectStatys" asp-for="Status">
                    @foreach (var groupStatus in Enum.GetValues(@Model.Status.GetType()))
                    {
                        <option value="@((int)groupStatus)">@groupStatus</option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="selector_1">Teacher</label>
                <select class="form-select" id="selector_1" asp-for="TeacherId">
                     <option value="">@null</option>
                    @foreach (var teacher in teacherService.GetAll())
                    {
                        <option value="@teacher?.Id">@teacher?.Name @teacher?.Lastname</option>
                    }

                </select>
            </div>
        </form>       
         
            @if(Model.Students is not null)
            {
                   <div class="mb-3">
                 <h1>Students:</h1>
                <ul class="list-group" id="Students">
                    @foreach (var student in @Model.Students)
                    {
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="@student.Id">
                        @student.Name
                        @student.Lastname
                        <button class="btn btn-primary" onclick="removeFromList('Students',@student.Id)">Delete</button>
                    </li>
                    }

                </ul>
            </div>
            }
            
            <div class="input-group mb-3">
                <button id="_save_changes" type="button" onclick="updateByFormAndList('GroupInfoForm','Students','Students')" class="btn btn-primary">Save changes</button>
            </div>
      
    </div>

</div>


