@using EducationCenterCRM.DAL.Entities;
@model Teacher

<div class="container">
    <div class="row">
        <h1>Teacher info:</h1>
        <form id="GroupInfoForm">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Id)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.Id)" aria-describedby="basic-addon1" value="@Model.Id" readonly>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Name)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.Name)" aria-describedby="basic-addon1" value="@Model.Name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Lastname)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.Lastname)" aria-describedby="basic-addon1" value="@Model.Lastname">
            </div>
               <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.BirthDate)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.BirthDate)" aria-describedby="basic-addon1" value="@Model.BirthDate.ToString("d")">
            </div>
               <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Bio)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.Bio)" aria-describedby="basic-addon1" value="@Model.Bio">
            </div>
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Email)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.Email)" aria-describedby="basic-addon1" value="@Model.Email">
            </div>
                  <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@nameof(@Model.Phone)</span>
                <input type="text" class="form-control"   name="@nameof(@Model.Phone)" aria-describedby="basic-addon1" value="@Model.Phone">
            </div>
        </form>

        @if(@Model.Groups is not null)
        {
                <div class="mb-3">
                <h1>Groups:</h1>
                <ul class="list-group">
                    @foreach (var group in @Model.Groups)
                    {
                    <li class="list-group-item d-flex justify-content-between align-items-center" id="@group.Id">
                        @group.Title
                    </li>
                    }

                </ul>
            </div>
        }
    
            <div class="input-group mb-3">
                <button id="_save_changes" type="button" onclick="updateByForm('GroupInfoForm')" class="btn btn-primary">Save changes</button>
            </div>
      
    </div>

</div>


