@using EducationCenterCRM.DAL.Entities;
@model Teacher


<h1>Teacher info:</h1>
<div class="mb-3">

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.Id)</div>
                @Model.Id
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.Name)</div>
                @Model.Name
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.Lastname)</div>
                 @Model.Lastname
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.BirthDate)</div>
                @Model.BirthDate.ToString("d")
            </div>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.Bio)</div>
                @Model.Bio
            </div>
        </li>
         <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.Email)</div>
                @Model.Email
            </div>
        </li>
         <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.Phone)</div>
                @Model.Phone
            </div>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
           <div class="ms-2 me-auto">
                <div class="fw-bold">@nameof(@Model.LinkToProfile)</div>
                @Model.LinkToProfile
            </div>
        </li>
        
    </ul>
</div>

<h3>Groups:</h3>
<div class="mb-3">
<ul class="list-group list-group-flush">
    @foreach (var group in Model.Groups)
    {
            <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                @group.Title
            </div>
        </li>
    }
</ul>
</div>

